[submodule "submodules/R2FFT"]
	path = submodules/R2FFT
	url = git@github.com:jvteodoro/R2FFT.git
[submodule "submodules/i2s-receiver"]
	path = submodules/i2s-receiver
	url = https://github.com/diegofa2004/i2s-receiver
